:root {
    --primary-red: #C20202;
    --black: #000000;
    --white: #ffffff;
    --gray: #afafaf;
    --accent: #FF053F;
  }

.NewsDetailAlphacontainer{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    background-color: black;
    justify-content: center;
   
}
.NewsDetailMainContainer{
    background-color: rgb(9, 9, 9);
    width: 100vw;
    min-height: 90vh;
    
    
}
.allLegendaryNewsdetcontainer{
    width: 100vw;
    height:100vh ;
    background-color: #000000;
    overflow-y: scroll;
    scrollbar-width: none;
   
    
}
.newsHeadline{
    background-color: var(--primary-red);
    font-size: 16px;
    font-weight: 700;
    padding: 10px 10px;
    font-style: italic ;
    color: #ffffff;
    width: 200px;
    transform: skew(-25deg);
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 5px;

}
.linesnewarheadline{
    border: 1px solid var(--accent);
    width: 90vw;
    margin-bottom: 5px;
}

.mainHeadingfornewsdetail{
    color: #ffffff;
    font-size: 30px;
    padding: 20px;
    font-weight: 700;
}
.NewsDetailsSourcelogo{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    margin-left: 15px;
}
.newsdetsourcedetails{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    align-items: center;
    margin-top: 5px;
}
.sourec{
    font-size: 20px;
    color: #FF053F;
    font-weight: 500;
}
.newsdetailsformain{
   
}
.sourcecontainerinmain{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imagedescriptionativeurl{
    width: 50%;
    
    border-radius: 10px;
    

}
.imagecontainerinnewsdetpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    
}
.mainparafornewsdetailcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}
.parafornewsdet{
    color: #ffffff;
    width: 70%;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 400;
    text-align:left;
    margin-left: 20px;
    
  

}

.parafornewsdet::marker{
  color: var(--accent);
  font-size: 1.5em;
  margin: 0px;
  padding: 0px;
}
.AIfeaturesContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: #000;
    border-bottom:solid 1px var(--accent) ;
}
.wordlimitinputcontainer{
    border: 1px solid #ff6060;
}
.newaibuttons{
    color: #fff;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.25s;
    margin-top: 0px;
    background: radial-gradient(circle at center , var(--primary-red) var(--accent) var(--color-white));
    
}

.navbarshadow{
    box-shadow: rgba(255, 0, 0, 0.5) 0px 0.0625em 0.0625em, rgba(255, 0, 0, 0.5) 0px 0.125em 0.5em, rgba(255, 0, 0, 0.5) 0px 0.25px 0px 1px inset;
    overflow-y: scroll;
    scrollbar-width: none;
}






.buttonforaifeat {
    font-size: 1em;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;

    position: relative;
  }
  .buttonforaifeattrue{
    background: linear-gradient(90deg, #C20202, #f441a5);
    background-color: none;
  }

  
  
  .container-aifeatures {
    position: relative;
    padding: 3px;
    background: linear-gradient(90deg, #C20202, #f441a5);
    border-radius: 0.9em;
    transition: all 0.4s ease;
    margin-right: 10px;
  }
  
  
  .container-aifeatures::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -10;
    filter: blur(0);
    transition: filter 0.4s ease;
  }
  
  .container-aifeatures:hover::before {
    background: linear-gradient(90deg, #C20202, #f441a5);
    filter: blur(1.2em);
  }
  .container-aifeatures:active::before {
    filter: blur(0.2em);
  }
  
  .borderlineafterai{
    border: solid 1px var(--accent);
  }
  .bordercont{
    width: 100%;
  }


  .gradient-breathing-text {
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(
      -45deg,
      #C20202,
      #FF053F,
      #ff3b93,
      #ffaad5,
      #ffaad5,
      #ff3b93,
      #FF053F,
      #C20202
    );
    background-size: 300% 300%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: breatheGradient 4s ease-in-out infinite;
    margin-right: 35px;
  }
  
  @keyframes breatheGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 200% 100%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .buttonsofaimaincontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

  }


  .allMythicNewsDetContainer{
    overflow-y: scroll;
    scrollbar-width: none;
  }
.Footerforwebsite{
  background-color: #2e2e2e;
  width: 100vw;
  height: 20vh;
  border-top: 2px solid var(--accent);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyrightnotice{
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  .imagedescriptionativeurl{
    width: 80%;
  }
  .buttonforaifeat{
    font-size: 0.9em;
    padding: 0.4em 0.6em;
  }
  .container-aifeatures{

  }
  .parafornewsdet{
    width: 80%;
    margin: 0px;
  }
  .padrem{
    padding: 0px;
  }

}

@media screen and (max-width: 630px) {
    .mainHeadingfornewsdetail{
      font-size: 25px;    }
    .sourec{
      font-size: 15px;
    }
    .newsdetsourcedetails{

      flex-direction: column;
      align-items: flex-start;
    }
    .imagedescriptionativeurl{
      width: 90%;
    }
    .container-aifeatures{
      padding: 3px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .AIfeaturesContainer{
      flex-direction: column;
    }
    .buttonsofaimaincontainer{
      display: flex;
      justify-content: space-around;
    }
    .gradient-breathing-text{
      display: none;
    }
    .parafornewsdet{
      font-size: 18px;
    }
    .AIfeaturesContainer{
      padding: 0px;
      padding-bottom: 10px;
    }
    .main

}