:root {
    --primary-red: #C20202;
    --black: #000000;
    --white: #ffffff;
    --gray: #afafaf;
    --accent: #FF053F;
  }
.mainHomeContainer{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: black;
}
.leftSideBar{
    width: 20vw;
    background-color:rgb(10, 10, 10);
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.profilecontainer{
    width: 80%;
    min-height: 10vh;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-width:1px ;
    border-bottom-style: solid;
    border-bottom-color: #FF053F;
    padding-bottom: 20px;
}
.mainprofilelogo{
    font-size: 90px;
}
.userproftext{
    font-size: 20px;
    color: #C20202;
    margin-bottom: 20px;
}
.emailtext{
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
}
.editprofilebutton{
    background-color:transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    color: #C20202;
    margin-top: 15px;
    cursor: pointer;
}
.editlogo{
    font-size: 25px;
    margin-left: 10px;
}
.emailmaintexttext{
    font-size: 12px;
    margin-top: 5px;
}
.rightsideMainContainer{
    width: 80vw;
    padding: 0px 30px;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}
.topProfilePage{
    width: 100%;
    height: 30vh;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(194,2,2,1) 250%);

    /* background-color: var(--primary-red); */
}
.searchandcountrycontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}
.searchnewsBar{
    width:90%;
    background-color: rgb(10, 10, 10);
    border: none;
    height: 35px;
    outline: none;
    border-radius: 10px;

    color: #afafaf;
    padding-left: 30px;
}
.inputmaincontainer{
    border: solid;
    border-width: 1px;
    border-color: #afafaf;
    width: 70%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 10px;
}
.searchiconinbar{
    font-size: 30px;
    color:var(--white);
    margin-right: 10px;
}
.searchnewsBar:active .inputmaincontainer{
    border-color: var(--accent);
}
.MainnewsCardContainer{
    display: flex;
   flex-direction: column;
    width: 70%;
    background-color: #000000;
    padding-top: 20px;
    

}
.newsCard{
    min-height: 30vh;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 40px;
}








.dropdown-container {
    display: flex;
    flex-direction: column;
    max-width: 250px;
   
    font-family: Arial, sans-serif;
    margin-top: 30px;
  }
  
  label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  .custom-select {
    padding: 10px 12px;
    border-radius: 8px;
    background-color:var(--primary-red);
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    position: relative;
    top: -10px;
  }
  
  .optionincoutrysel{
    background-color: #000000;
    color: #fff;
    border-width:0px ;
    padding: 20px 10px;
  }
  .optionincoutrysel:active{
    background-color: var(--primary-red);
  }



  .CategoryContainer{
    width: 80%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #000000;
    padding: 10px 0px;
  }
  .Categeorytext{
    color: var(--primary-red);
    font-size: 30px;
    font-weight: 500;
  }
  .ulnewscatcontianer{
    display:flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
  
  }
  .optionulactivetrue{
    min-width:120px ;
    background-color: var(--primary-red);
    color: #fff;
    border-radius: 10px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 15px;
    transition: 0.4s;
    cursor: pointer;
    font-weight: 500;
    padding: 0px 10px;
    box-sizing: border-box;
    max-width: 250px;


}
.optionulactivetrue:hover{
    background-color: #7a0000;
}

.optionulactivefalse{
    min-width:120px ;
    background-color: var(--white);
    color: #000000;
    border-radius: 10px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.4s;
    font-weight: 500;
    padding: 0px 15px;
    box-sizing: border-box;
    white-space: nowrap;



}
.optionulactivefalse:hover{
    background-color: #868686;
}








.newsCard {
    list-style-type: none;
    margin: 1rem;
    padding: 10px;
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--primary-red);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.3s;

  }
  
  .newsImage {
    width:250px;
    height: 250px;
    border-radius: 6px;
  }
  
  .newsTitle {
    font-size: 20px;
    
    color:var(--primary-red);
    margin: 2px;
    font-weight: 600;
    margin-bottom:10px ;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
        overflow: hidden;
      
  }
  
  .newsDesc {
    font-size: 14px;
    color: #eaeaea;
  }
  .mainNewsTextsContainer{
    padding: 15px;
  }



  .PublishDate{
    font-size: 15px;
    color: #eaeaea;
    margin-right: 20px;
  }
  .soursceIcon{
    height: 30px;
    width: 30px;
    margin-right: 15px;
    border-radius: 50px;
  }
  .Source_Details{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
  .readmorebutton{
    background-color: var(--primary-red);
    color: #fff;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.25s;
  }
  .readmorebutton:hover{
    background-color: #7a0000;
  }
  .newsCard:hover{
    box-shadow: 0 0 30px var(--accent); ;
  }

  .centeraligner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  .NewsContainerAlpha{
    display: flex;
    flex-direction: row;
    width: 100%;

  }
  .sidebarNewsContainer{
    width: 20vw;
    height: 350px;
    position: absolute;
    left: 79vw;
    top: 40vh;

  
  }


  @media only screen and (max-width: 1035px) {
.newsImage{
  width: 200px;
  height: 200px;
}
.Source_Details{
  margin-top: 10px;
}
.readmorebutton{
  margin-top: 10px;

}
.CategoryContainer{
  width: 75%;
}

  }


  @media only screen and (max-width: 800px) {
.leftSideBar{
  display: none;
}
.rightsideMainContainer{
  width: 100vw;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.sidebarNewsContainer{
  width: 30vw;
}
.CategoryContainer{
  width: 100%;
}
.MainnewsCardContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NewsContainerAlpha{
  flex-direction: column;
  align-items: center;
}.sidebarNewsContainer{
  left: 0px;
top: 0px;
}
  }

  @media only screen and (max-width: 600px) {
    .custom-select {
      
      padding:8px 5px ;
      padding-left:10px;
      border-radius: 8px;
      background-color:var(--primary-red);
      color: #fff;
      font-size: 12px;
      outline: none;
      transition: border-color 0.3s ease;
      position: relative;
      top: -10px;
      margin-left: 15px;
    }
    .inputmaincontainer{
      height: 30px;
    }
    .searchnewsBar{
      height: 25px;
    }
    .searchiconinbar{
      font-size: 24px;
    }
    .CategoryContainer{
      padding: 0px;
      padding-bottom: 20px;
    }
    .Categeorytext{
      font-size: 25px;
    }
    .sidebarNewsContainer{
      left: 0px;
    top: 0px;
    }
   .newsCard{
    flex-direction: column;
   }
   .newsImage{
    width: 100%;
   }
   
  }